<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <property name="LOG_PATTERN"
                  value="%msg%n" />
       <property name="DATA_PATTERN" value="%d,%msg%n" />
        <property name="LOG_LEVEL" value="INFO"/>

    <!-- 标准输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
    </appender>

    <!-- 数据采集日志记录, 保存到文件 -->
    <appender name="COLLECT_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>data/collect/data_file.%d{yyyy-MM-dd}_%i.csv</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${DATA_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 指定日志输出级别 -->
    <logger name="com.zzz.spider" level="${LOG_LEVEL}" addtivity="false">
        <appender-ref ref="COLLECT_ROLLING" />
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>